.env
.venv
books_with_categories.csv
books_with_categories_and_tags.csv
books_with_categories_with_tag_scores.csv
books_with_categories_with_tag_scores_and_combined_tags.csv
books_with_emotions.csv
Books.ipynb
books_with_tags.csv
ChromaDB_books.txt
Combined_Book_Metadata_Final_New.csv
combined_book_metadata_final_new.db
Combined_Book_Metadata.csv
combined_book_metadata.db
Combined_Book_Metadata.sqlite
Complete_Metadata.csv
complete_metadata.db
complete_metadata.sqlite
complete_metadata.sqlite-journal

combined_book_metadata.sqlite-journal